@charset "UTF-8";
:root {
  /* шрифти */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* колір текста */
  --primary-color: #212121;
  --accent-color: #2196f3;
  --white-col: #ffffff;
  --gray-col: #757575;
}

body {
  font-family: var(--main-font);
  background-color: var(--white-col);
  letter-spacing: 0.03em;
}

.container {
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__logo {
  margin-right: 90px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
}

.header__logo-color {
  color: #000;
}

.footer__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
  outline: none;
}

.footer__studio {
  color: var(--white-col);
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0, 6);
          transform: translate(-50%, -50%) scale(0, 6);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white-col);
  border-radius: 4px;
  padding: 40px;
}

/* --кнопка закриття модального вікна-- */
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-origin: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-col);
  cursor: pointer;
  outline: transparent;
}

.modal-btn-icon {
  width: 18px;
  height: 18px;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--accent-color);
}

/*-- form modal-- */
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-modal-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-modal-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--gray-col);
}

.form-modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding: 5px 5px 5px 32px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus,
.form-modal-text:focus {
  border: solid 1px var(--accent-color);
  outline: none;
}

.form-modal-input:hover,
.form-modal-text:hover {
  border: 1px solid var(--accent-color);
}

.form-modal-group:hover .form-modal-icon {
  fill: var(--accent-color);
}

.form-modal-input:focus + .form-modal-icon {
  fill: var(--accent-color);
}

.form-modal-text {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 1px;
  resize: none;
  padding: 12px 16px 12px 16px;
  font-size: 12px;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-polisu-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.polise-private {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--gray-col);
  margin-left: 9px;
}

.polise-private-contract {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-color);
}

/* --checkbox-- */
.custom-checkbox {
  width: 16px;
  height: 15px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1px;
  border: 1px solid var(--primary-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-polisu-grup:hover .custom-checkbox {
  border: 1px solid var(--accent-color);
}

.form-polisu-grup:focus-within .custom-checkbox {
  border: 1px solid var(--accent-color);
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.custom-checbocs-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .custom-checbocs-icon {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---button-- */
.send-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  margin-top: 30px;
  color: var(--white-col);
  cursor: pointer;
  border: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #188ce8;
  outline: transparent;
}

/*=== іконки ===================*/
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-col);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .socials-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.social-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: var(--white-col);
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.footikon {
  fill: var(--white-col);
}

.header {
  border-color: 1px solid #ececec;
}

.heder__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* навігація */
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-nav {
  margin-right: 50px;
}

.header__item:last-child {
  margin-right: 0px;
}

/* контакти */
.header__kontact-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__kontact {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--gray-col);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-decoration: none;
  outline: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.header__link.current::after {
  background-color: var(--accent-color);
}

.header__link.current {
  color: var(--accent-color);
}

.hero__img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 6, 15, 0.4)), to(rgba(5, 6, 15, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(5, 6, 15, 0.4), rgba(5, 6, 15, 0.4)), url(../images/hero.jpg);
}

.hero__section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 626px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-col);
}

.hero__main-btn {
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-col);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__main-btn:hover,
.hero__main-btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__post {
  outline: 1px solid firebrick;
}
@media screen and (min-width: 768px) {
  .features__post {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__post {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .features__post:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--gray-col);
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__icon-images {
  width: 70px;
  height: 70px;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .works {
    display: none;
  }
}
.ourwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.works .section-heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.img {
  position: relative;
  margin-right: 30px;
}

.img-text {
  width: 370px;
  height: 70px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--white-col);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.img-team {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--white-col);
}
@media screen and (min-width: 480px) {
  .img-team .our-foto {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .img-team {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .img-team .our-foto {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .img-team {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
  .img-team .our-foto {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .img-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

.section-headline {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.work {
  font-size: 16px;
  color: var(--gray-col);
  text-align: center;
  margin-bottom: 16px;
}

.name-work {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .client-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .client-item .client-link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
  .client-item .client-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
  .client-item .client-link {
    width: 170px;
  }
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
  outline: none;
}
.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: var(--accent-color);
}

.client-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__main {
  background: #2f303a;
}

@media screen and (min-width: 480px) {
  .footer__container {
    display: block;
    text-align: center;
  }
  .footer__logo {
    display: block;
    margin-bottom: 20px;
  }
  .fut__mail {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .footer__address,
  .footer-icon {
    margin-bottom: 60px;
  }
  .form-footer-email {
    margin-bottom: 20px;
    width: 450px;
  }
  .form-fild {
    display: block;
  }
  .footer-btn-form {
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .buter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__item,
  .footer-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .form-fild {
    display: block;
  }
  .footer-btn-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
  .buter {
    outline: 1px solid fuchsia;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__address {
    margin: 0px;
  }
  .form-futer-box {
    display: block;
    margin-left: auto;
  }
  .footer-icon {
    display: block;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .form-fild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0px;
  }
  .form-footer-email {
    width: 358px;
    margin-right: 12px;
  }
  .footer-btn-form {
    margin: 0px;
  }
}
.fut__adres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: var(--white-col);
}

.futer {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.futer:hover,
.futer:focus {
  color: var(--white-col);
  outline: none;
}

.footer-social {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-col);
  margin-bottom: 20px;
}

.socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

/*-- form futer--*/
.form-footer-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}

.footer-btn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-col);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-form:hover,
.footer-btn-form:focus {
  background-color: #188ce8;
  outline: transparent;
}

.sing-up {
  margin-left: 28px;
  margin-right: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.btn-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--white-col);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  outline: var(--accent-color);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-nav:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: var(--white-col);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  outline: transparent;
}

.item-btn {
  margin-right: 8px;
}
.item-btn:last-child {
  margin-right: 0px;
}

/* секція проекти */
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.proect {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.proect-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.proect-txt {
  font-size: 16px;
  line-height: 1.875;
  color: var(--gray-col);
}

.project {
  display: inline-block;
  text-decoration: none;
  outline: transparent;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project:hover, .project:focus {
  -webkit-box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

/* ===overlu== */
.overlu {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.overlu-color {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlu-text {
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--white-col);
  width: 322px;
  height: 168px;
}

.project:hover .overlu-color,
.project:focus .overlu-color {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */