:root {
  /* шрифти */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* колір текста */
  --primary-color: #212121;
  --accent-color: #2196f3;
  --white-col: #ffffff;
  --gray-col: #757575;
}
