body {
  font-family: var(--main-font);
  background-color: var(--white-col);
  letter-spacing: 0.03em;
  // width: 1600px;
  // margin-left: auto;
  // margin-right: auto;
}

.container {
  // width: 1200px;
  // outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.header .container {
  border: 1px solid #ececec;
}
