// постійні клієнти__секція 6

@media screen and (min-width: 300px) {
  .client-link {
    display: block;
    width: 300px;
    margin-bottom: 10px;
  }
  // .section-headline {
  //   margin-bottom: 20px;
  // }
}

.client {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.client-item {
  @media screen and (min-width: 480px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    .client-link {
      width: 210px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;

    .client-link {
      width: 226px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 12 * 15px) / 6);
    margin: 15px;

    .client-link {
      width: 170px;
    }
  }
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;

  border-radius: 4px;
  // width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);
  }
}

.client-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
