.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features__post {
  @media screen and (min-width: 768px) {
    // width: 50%;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    // width: 25%;
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--gray-col);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__icon-images {
  width: 70px;
  height: 70px;
  margin: 0px;
}
