.footer__main {
  background: #2f303a;
}

@media screen and (min-width: 320px) {
  .footer__container {
    display: block;
    text-align: center;
  }
  .footer__logo {
    display: block;
    margin-bottom: 20px;
  }
  .fut__mail {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .footer__address,
  .footer-icon {
    margin-bottom: 60px;
  }
  .form-footer-email {
    margin-bottom: 20px;
    width: 300px;
  }
  .form-fild {
    display: block;
  }
  .footer-btn-form {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .buter {
    display: flex;
  }
  .footer__item,
  .footer-icon {
    margin-left: auto;
    margin-right: auto;
  }
  .form-fild {
    display: block;
  }
  .footer-btn-form {
    display: flex;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;

    text-align: left;
  }
  .buter {
    display: flex;
    // margin-right: 94px;
  }
  .footer__address {
    margin: 0px;
  }
  .form-futer-box {
    display: block;
    margin-left: auto;
    // margin-right: auto;
  }

  .footer-icon {
    display: block;
    margin-left: 70px;
    // margin-right: auto;
    // margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .form-fild {
    display: flex;
    align-items: baseline;
    margin: 0px;
  }
  .form-footer-email {
    width: 358px;
    margin-right: 12px;
  }

  .footer-btn-form {
    margin: 0px;
  }
}

.fut__adres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: var(--white-col);
}
.futer {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.futer:hover,
.futer:focus {
  color: var(--white-col);
  outline: none;
}

// іконки__текст і колір
.footer-social {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-col);
  margin-bottom: 20px;
}
.socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

/*-- form futer--*/

.form-footer-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  // width: 350px;
  height: 50px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
}
.footer-btn-form {
  display: flex;
  text-align: center;
  align-items: center;

  border-radius: 4px;
  width: 200px;
  height: 50px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  color: var(--white-col);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-form:hover,
.footer-btn-form:focus {
  background-color: #188ce8;
  outline: transparent;
}

.sing-up {
  margin-left: 28px;
  margin-right: 10px;
}
