// header__секція 1

.header {
  border-color: 1px solid #ececec;
}

.heder__container {
  display: flex;
  align-items: center;
}
.header__main-nav {
  display: flex;
  align-items: center;
}

/* навігація */
.header__nav {
  display: flex;
  align-items: center;
}
.header__item-nav {
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0px;
}
/* контакти */
.header__kontact-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__kontact {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--gray-col);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  text-decoration: none;
  outline: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}
.header__link.current::after {
  background-color: var(--accent-color);
}
.header__link.current {
  color: var(--accent-color);
}
