//--hero-/

@media screen and (min-width: 300px) {
  .hero .container {
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(rgba(5, 6, 15, 0.4), rgba(5, 6, 15, 0.4)),
      url(../images/hero-mob.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(5, 6, 15, 0.4),
          rgba(5, 6, 15, 0.4)
        ),
        url(../images/hero-mob@2x.jpg);
    }
  }
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 290px;
  }
  .hero__main-btn {
    padding: 10px 24px;
  }
}

@media screen and (min-width: 480px) {
  .hero .container {
    width: 100%;
    height: 400px;

    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    // min-width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(5, 6, 15, 0.4), rgba(5, 6, 15, 0.4)),
      url(../images/hero-mob.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(5, 6, 15, 0.4),
          rgba(5, 6, 15, 0.4)
        ),
        url(../images/hero-mob@2x.jpg);
    }
  }

  .hero__title {
    font-weight: 900;

    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 480px;
  }
  .hero__main-btn {
    padding: 10px 24px;
  }
}

@media screen and (min-width: 768px) {
  .hero .container {
    width: 100%;

    height: 400px;
    background-image: linear-gradient(rgba(5, 6, 15, 0.4), rgba(5, 6, 15, 0.4)),
      url(../images/hero-tabl.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(5, 6, 15, 0.4),
          rgba(5, 6, 15, 0.4)
        ),
        url(../images/hero-tabl@2x.jpg);
    }
  }
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61538;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 30px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-col);
  }
}

@media screen and (min-width: 1200px) {
  .hero .container {
    width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(rgba(5, 6, 15, 0.4), rgba(5, 6, 15, 0.4)),
      url(../images/hero-desktop.jpg);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(5, 6, 15, 0.4),
          rgba(5, 6, 15, 0.4)
        ),
        url(../images/hero-desktop@2x.jpg);
    }
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36364;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
    width: 626px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-col);
  }
}

.hero__main-btn {
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-col);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__main-btn:hover,
.hero__main-btn:focus {
  background-color: #188ce8;
}
