// секція 4  чим ми займаїмось
// .works {
//   padding-bottom: 94px;
// }

// @media screen and (max-width: 1200px) {
//   .works {
//     display: none;
//   }
// }
.works {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.ourwork {
  display: flex;
  list-style: none;
}
.works .section-heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.img {
  position: relative;
  margin-right: 30px;
}
.img-text {
  width: 370px;
  height: 70px;
  left: 0px;
  bottom: 0px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--white-col);
  background: rgba(47, 48, 58, 0.8);
}
