.portfolio {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (min-width: 300px) and (max-width: 479px) {
  .btn-projects {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin-bottom: 40px;
  }
  .box-btn {
    // align-items: center;
    justify-content: center;
  }

  .box-btn:not(:last-child) {
    margin-bottom: 15px;
  }
  .projects {
    width: 300px;
    display: block;
  }
  .project {
    width: 300px;
  }
  .overlu {
    width: 300px;
  }
  .item {
    width: 300px;
  }
  .proect {
    width: 300px;
  }

  .project-img {
    display: block;
    width: 300px;
    // height: 294px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .btn-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .box-btn:not(:last-child) {
    margin-bottom: 15px;
  }

  .project-img {
    display: block;
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .btn-projects {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
    list-style: none;
  }

  .project-img {
    display: block;
    width: 354px;
    height: 294px;
  }

  .proect {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .proect,
  .proectuk {
    width: 370px;
  }
  .item {
    width: 370px;
    height: 404px;
  }
  .project-img {
    width: 370px;
    display: block;
  }
  .btn-projects {
    margin-bottom: 50px;
  }
}

.box-btn {
  display: flex;
}
.btn-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  color: var(--white-col);
  background-color: var(--accent-color);

  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  outline: var(--accent-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-col);
    background-color: var(--accent-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);

    outline: transparent;
  }
}

.item-btn {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}

/* секція проекти */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.proect {
  flex-grow: 1;
  justify-content: space-between;

  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  &-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);
  }
  &-txt {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--gray-col);
  }
}

.project {
  display: flex;
  flex-direction: column;
  height: 100%;

  text-decoration: none;
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
}

/* ===overlu== */
.overlu {
  position: relative;
  overflow: hidden;
  // width: 370px;
  // height: 294px;
  // width: 354px;
  // height: 294px;

  &-color {
    @media screen and (min-width: 300px) {
      padding: 40px 24px;
    }
    @media screen and (min-width: 480px) {
      padding: 74px 24px;
    }
    @media screen and (min-width: 768px) {
      padding: 49px 24px 77px 24px;
    }
    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;

    // padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-text {
    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
    font-size: 18px;
    line-height: 1.55556;
    letter-spacing: 0.03em;
    color: var(--white-col);
    // width: 322px;
    // height: 168px;
  }
}

.project:hover .overlu-color,
.project:focus .overlu-color {
  transform: translateY(0%);
}
